.dat li{
	list-style-type: none;
}

.dat li:before{
	content: " · ";	
}

.parh li{
	list-style-type: none;
}
.parh li:before{
	content: " § ";
}


.circle li{
	list-style-type: none;
}
.circle li:before{
	content: " o ";	
}
