.first{
    color: red;
    font-size: 10px;
    font-family:  Arial;
}
.second{
    color:green;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.a1 {
  position: relative;;
  left: 30px;
   }
   .a2 {
    position: relative;;
    left: 15px;
     }
       .ordinary { /* Абзац с классом cite */
        color:rgb(255, 196, 0); /* Цвет текста */
       
       } 
